@import url(https://fonts.googleapis.com/css?family=Roboto:400);

#button-2 * {
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

#button-2 .btn {
    font-family: "Roboto", sans-serif;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

#button-2 .btn-1 {
    background: #f70000;
    font-weight: 100;
}
#button-2 .btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#button-2 .btn-1 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}
#button-2 .btn-1:hover {
    background: rgba(255, 0, 0, 0);
    font-weight: 900;
    letter-spacing: 1px;
}
#button-2 .btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
