*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #000;
    min-height: 100vh;
    perspective: 1000px;
}

.container {
    height: inherit;
    max-width: 700px;
    margin: 0 auto;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

#mouse-move {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moving-block {
    width: 250px;
    height: 250px;
    height: 1mouse-move50px;
    background-color: aqua;
    cursor: pointer;
    transform-style: preserve-3d;
}


.level-1 {
    transform: translateZ(50px);
}

.level--2 {
    transform: translateZ(-50px);
}

.last {
    background: greenyellow;
}
.first {
    background: deeppink;
}